:root {
  --c-prime-light: #000;
  --c-prime-dark: #fff;

  --c-ang-dark: #a89d55;
  --c-ang-light: #cbc497;
  --c-bar-dark: #721904;
  --c-bar-light: #8b341f;
  --c-jord-dark: #985a1c;
  --c-jord-light: #b87f45;
  --c-sand-dark: #c1a016;
  --c-sand-light: #d3b73d;
  --c-skog-dark: #7b932e;
  --c-skog-light: #9eb45a;
  --c-vik-dark: #455b81;
  --c-vik-light: #657b9f;
  
  --background-color: linear-gradient(180deg, rgba(89, 194, 233, 0.8) 0%, rgba(29, 183, 255, 0.8) 33.65%, rgba(94, 192, 255, 0.8) 65.42%, rgba(94, 195, 255, 0.8) 100%);
}

p {
  /* font-family: '--f-inter'; */
  font-weight: 400;
  color: #fff;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

h4 {
  text-transform: uppercase;
  font-size: 0.813rem;
  font-weight: 700;
}

/***************** Resets ************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/***************** Resets END ************/

html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  display: flex;
  overflow: hidden;
  height: -webkit-fill-available;
}

body {
  /*outline: auto;
  */
  background-color: #5DD3FF;
  background-image: url(../public/citybackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  height: 100vh;
  /* max-height: 844px; */
  background-color: white;
  display: flex;
  width: 100vw;
  /* max-width: 390px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 15px; */
  position: relative;
  overflow: hidden;
  min-height: -webkit-fill-available;
  
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  /* padding-top: 20px; */
}

/*** Skuggtext på tom sida ***/
.pagePlaceholder {
  margin: auto;
  font-weight: 400;
  color: #858585;
  /* font-size: 1rem; */
  text-align: center;
}

button:hover,
button {
  outline-color: transparent;
  background-color: transparent;
}

button {
  font-size: 0.75rem;
  color: #000;
  background: transparent;
  border: 0.1em solid #000;
  border-radius: 0.2em;
  padding: 0.2em 1em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
}

button:hover {
  color: #666;
  border-color: #666;
}

button:focus-visible,
input:focus-visible {
  /* outline: 1px solid black; */
}

/***************** header ************/
header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  justify-content: space-between;
  position: relative;
}

header>* {
  /* outline: auto; */
}

.kommunLogoContainer {
  /* outline: auto; */
}

.logo {
  margin-top: 10px;
  position: absolute;
  left: 35%;
  /* outline: auto; */
}


/***************** content ************/
/* .content {
  display: flex;
  flex-direction: column;
} */

@media only screen and (max-width:389px) {
  .main {
    flex-grow: 1;
  }
}

/***************** JobsPage ************/

.jobsList {
  padding-top: 100px;
}

.jobCell {
  padding: 10px;
  border: 1px solid #000;
  padding-left: 30px;
  line-height: 1.8;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
