.btn {
  border-radius: 200px;
  border: 1px solid #ffffff;
  color: #fff;
  font-size: 13px;
  gap: 5px;
  letter-spacing: -0.02em;
  line-height: 16px;
  padding: 7px 16px;
}

.checked {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #0086a7;
}

.filterContent {
  backdrop-filter: blur(12.5px);
  background: linear-gradient(
    180deg,
    rgba(89, 194, 233, 0.5) 0%,
    rgba(29, 183, 255, 0.5) 33.65%,
    rgba(94, 192, 255, 0.5) 65.42%,
    rgba(94, 195, 255, 0.5) 100%
  );
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  padding-top: 122px;
  padding: 16px;
  position: absolute;
  width: 100%;
}

.filterContent > div {
  padding: 16px 20px;
}

.filterContent > div > div {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 8px;
  padding: 7px 16px 7px 0;
}

.filterBtn {
  margin: 16px;
}

.title {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 12px;
}
