@media only screen and (max-width: 500px) {
  .box {
    background: var(--background-color);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px #0003;
    border-radius: 20px;
    color: #ffffff;
  }

  .container {
    display: inline-block;
    margin-right: 9px;
    margin-top: 69px;
    margin-left: 9px;
  }

  .popup {
    position: fixed;
    top: 126px;
    left: 15px;
    width: 91%;
    height: 65%;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.421);
    border-radius: 20px;
    padding: 16px;
  }

  .popupContent h1 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .popupContent h3 {
    font-size: 14.2px;
  }

  .popupContent p {
    font-size: 1rem;
    font-weight: 400;
  }

  .popupButtons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
  }

  .popupButtons button {
    background-color: transparent;
    border-color: #ffffff;
    border-radius: 200px;
    border-width: 1px;
    color: #ffffff;
    font-size: 0.813rem;
    font-weight: 400;
    line-height: 1;
    padding: 0.5em 1.25em;
    text-align: center;
    transition: background-color, border-color, color 0.2s ease;
  }
}
